<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>54724169362-q0lpsmtce74h0a511he68960nafblejo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.54724169362-q0lpsmtce74h0a511he68960nafblejo</string>
	<key>API_KEY</key>
	<string>AIzaSyCLcILhWreTDJdIcSlSSOZBN7cO39kvHu0</string>
	<key>GCM_SENDER_ID</key>
	<string>54724169362</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>evvapp.evvaApp</string>
	<key>PROJECT_ID</key>
	<string>evva-7d405</string>
	<key>STORAGE_BUCKET</key>
	<string>evva-7d405.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:54724169362:ios:59295549ded290699ba04b</string>
	<key>DATABASE_URL</key>
	<string>https://evva-7d405-default-rtdb.firebaseio.com</string>
</dict>
</plist>